/node_modules
/public/hot
/public/images/tours
/public/images/blogs
/public/images/category
/public/images/schedule
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
